<body align="center">
  <h3>ARCHIVIO CLIENTI</h3>
  <div>
  <input type="text" [(ngModel)]="persona.codice" placeholder="codice"> &nbsp;
  <input type="text" [(ngModel)]="persona.ragioneSociale" placeholder="ragione sociale">&nbsp;
  <input type="text" [(ngModel)]="persona.indirizzo" placeholder="indirizzo">&nbsp;
  &nbsp;
  <button *ngIf="showAggiungi" (click)="aggiungi()">Aggiungi</button>
</div>
<div>
  <br>
  <br>
<button *ngIf="showConferma" (click)="conferma()">Conferma</button>&nbsp;
<button *ngIf="showAnnulla" (click)="annulla()">Annulla</button>
</div>
  <br>
  <br>
  <input type="text" [(ngModel)]="search" placeholder="ricerca">&nbsp;
  <button (click)="ricerca()">Cerca</button>
  <br>
  <br>
  <table align="center" border="1px">
    <tr>
      <th>Codice</th>
      <th>Ragione Sociale</th>
      <th>Indirizzo</th>
      <th>Gestisci</th>
    </tr>
    <tr *ngFor="let p of persone, index as i">
      <td>{{p.codice}}</td>
      <td>{{p.ragioneSociale}}</td>
      <td>{{p.indirizzo}}</td>
      <td>
        <button (click)="modifica(i)">Modifica</button>
        <button (click)="cancella(p)">X</button>
      </td>
    </tr>
  </table>
  </body>