<body align="center">
  <h3>ARCHIVIO CLIENTI</h3>
  <input type="text" [(ngModel)]="persona.codice" placeholder="codice"> &nbsp;
  <input type="text" [(ngModel)]="persona.ragioneSociale" placeholder="ragione sociale">&nbsp;
  <input type="text" [(ngModel)]="persona.indirizzo" placeholder="indirizzo">&nbsp;
  <button (click)="aggiungi()">Aggiungi</button>
  <br>
  <br>
  <input type="text" [(ngModel)]="search" placeholder="ricerca">&nbsp;
  <button (click)="ricerca()">Cerca</button>
  <br>
  <br>
  <table align="center">
    <tr>
      <th>Codice</th>
      <th>Ragione Sociale</th>
      <th>Indirizzo</th>
      <th>Gestisci</th>
    </tr>
    <tr *ngFor="let c of clienti">
      <td>{{c.codice}}</td>
      <td>{{c.ragioneSociale}}</td>
      <td>{{c.indirizzo}}</td>
      <td>
        <button (click)="modifica()">Modifica</button>
        <button (click)="cancella()">X</button>
      </td>
    </tr>
  </table>
  </body>